symbol,base,quote
xt_btc,xt,btc
xwc_btc,xwc,btc
cleg_btc,cleg,btc
love_btc,love,btc
love_eth,love,eth
mega_eth,mega,eth
pomi_eth,pomi,eth
err_busd,err,busd
agn_eth,agn,eth
err_btc,err,btc
yes_busd,yes,busd
ggcm_busd,ggcm,busd
sfusd_busd,sfusd,busd
pli_btc,pli,btc
strm_btc,strm,btc
rune_btc,rune,btc
hmr_btc,hmr,btc
klv_btc,klv,btc
xwc_eth,xwc,eth
smsct_btc,smsct,btc
del_btc,del,btc
fjb_btc,fjb,btc
blkc_btc,blkc,btc
amze_btc,amze,btc
snack_btc,snack,btc
xfl_btc,xfl,btc
lnr_btc,lnr,btc
cps_btc,cps,btc
petn_busd,petn,busd
erth_btc,erth,btc
